
body {
    margin-top: 50px;
    background-color: rgb(32, 5, 47);
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    width: 95%;
    min-width: 320px;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(77, 6, 116);
}

.share-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(77, 6, 116);
}

.share-button i {
    margin-left: 13px;
    margin-top: 10px;
    color: aliceblue;
}

a .arrow-header{
    margin-left: 12px;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.image-container {
    margin: 0 auto;  
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 0 50px rgb(77, 6, 116);
}

.card {
    background-color: rgb(45, 7, 67);
    border-radius: 50px;
}

.card:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
    box-shadow: 0 8px 5px rgb(77, 6, 116);
}

.card-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(77, 6, 116);
}

.card-button i {
    margin-left: 8px;
    margin-top: 6px;
    color: aliceblue;
}

.fa-brands {
    font-size: 2em;
}

a {
    text-decoration: none;
    font-size: 20px;
}

/* .bottom-container {
    text-align: center;
    margin-top: 100px;
    color: rgb(91, 8, 136);
    font-size: 15px;
} */

@media (max-width: 768px) {

    .bottom-container {
        font-size: 13px;
    }

    .fa-brands {
        font-size: 2em;
    }

    .card-button {
        width: 40px;
        height: 40px;
    }
    
    .card-button i {
        margin-left: 13px;
        margin-top: 10px;
    }

}

@media (min-width: 566px) {
    .fa-brands {
        margin-left: 5px;
        margin-top: 5px;
    }
}

@media (max-width: 575px) {

    body {
        margin-top: 0;
    }

    header {
        margin-bottom: 30px;
    }

    a .arrow-header {
        margin-left: 14px;
    }

    h1 {
        font-size: 20px;
    }

    .card {
        width: 300px;
        height: 60px;
    }

    a {
        font-size: 15px;
    }


    .fa-brands {
        font-size: 1.5em;
    }

    .card-button {
        width: 30px;
        height: 30px;
        margin-top: -2px;
    }
    
    .card-button i {
        margin-left: 8px;
        margin-top: 6px;
    }

}
